/* Menu tables */
.tables-container {
    /* padding-bottom: 100px; */
}

.tables {
   
}

.tables___bgimage {
    height: 400px;
    background-attachment: fixed;
    background-image: url("../../img/tables/table-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tables___title {
    padding: 50px;
    text-align: -webkit-center;
}

.tables___title_style {
    padding-bottom: 20px;
    border-bottom: 1px solid;
    width: fit-content;
    padding-right: 50px;
    padding-left: 50px;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
}

.tables___list {
    width: 100%;
}

.tables-form > form > label {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.3px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.tables-form > form {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.tables-form > form > input {
    border: 1px solid lightgray;
}

.get-tables {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 2rem;
    padding: 100px 50px;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
}

.tablesBox {
    height: 67%;
    width: 100%;
}

.addTable {
    height: 22%;
    width: 30%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red;
    border-style: dotted;
    list-style: none;
    margin: 10%;
}

.addTableCroix {
    font-size: 63px;
    margin-bottom: 15px;
}

.table-form {
    justify-content: center;
    width: 100%;
}

.table-form > form {
    padding: 3rem;
    width: 50%;
    text-align: center;
    background-color: #EFDDD1;
    border-radius: 10px 0px;
}

.table-form > form > label {
    width: 100%;
}

.table-style {
    position: relative;
    background-color: rgba(239, 221, 209, 0.7);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    padding: 40px 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 17px 0px rgb(230 221 230);
    border: 1px #ead2c3 solid;
}

.table-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-bottom: 20px;
}

.table-name > button {
    margin-left: 5px;
    background-color: transparent;
}

.table-name > span {
    font-weight: 300;
}

.select-style > div > div > div > div {
    padding: 0px 5px;
}

.delete-table {
    text-align: end;
    position: absolute;
    bottom: 17px;
    right: 17px;
}


.icon-style {
    cursor: pointer;
}

.guest-del {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.guest-del > button {
    box-shadow: rgb(0 0 0 / 26%) 0px 1px 3px 0px;
    background-color: #f6f5f3;
}

.undo-btn {
    background-color: transparent;
}

.block {
    border-radius: 10px;
 }

 .block > span {
    font-size: 20px;
    font-weight: 500;
}

 @media (max-width: 768px) { 

    .get-tables {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .table-form > form > label {
        font-size: 1rem;
    }

    .table-name {
        font-size: 1.3rem;
    }

    .add-form > form {
        width: 80%;
    }
 }

 @media (max-width: 451px) { 
    .get-tables {
        grid-template-columns: repeat(2, 1fr);
    }
 }

 @media (max-width: 414px) { 
    .table-form > form {
        padding: 2rem;
    }
 }

 