/* Menu tables */
.tables-container {
    /* padding-bottom: 100px; */
}

.tables {
   
}

.tables___bgimage {
    height: 10rem;
    background-attachment: fixed;
    background-image: url("../../img/tables/table-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tables___title {
    padding: 50px;
    text-align: -webkit-center;
}

.tables___title_style {
    padding-bottom: 20px;
    border-bottom: 1px solid;
    width: fit-content;
    padding-right: 50px;
    padding-left: 50px;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
}

.tables___list {
    width: 100%;
}

.tables-form > form > label {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.3px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.tables-form > form {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.tables-form > form > input {
    border: 1px solid lightgray;
}

.get-tables {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-gap: 2rem;
    padding: 1rem;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
}

.tables___block {
    width: 100%;
    height: fit-content;
}

.tablesBox {
    height: 67%;
    width: 100%;
}

.addTable {
    height: 22%;
    width: 30%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red;
    border-style: dotted;
    list-style: none;
    margin: 10%;
}

.addTableCroix {
    font-size: 63px;
    margin-bottom: 15px;
}

.table-form {
    justify-content: center;
    width: 100%;
}

.table-form > form {
    width: 35%;
    text-align: center;
}

.table-form > form > div {
    width: 100%;
    display: flex;
    border: lightgray 1px solid;
    padding: 0 0.5rem;
    border-radius: 30px;
    background: #FFFFFF;
    padding: .375rem .375rem .375rem .75rem;
    box-shadow: 7px 6px 25px -6px rgba(158,153,158,1);
}

.table-form > form > div > input {
    border-style: none;
}

.table-form > form > div > input::placeholder {
    font: italic;
}

.table-form > form > div > button {
    margin-left: 10px;
    border-style: none;
    background: white;
}

.check-btn:focus {
    outline: none;
}

.table-style {
    /* position: relative;
    background-color: rgba(239, 221, 209, 0.7);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    padding: 40px 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 17px 0px rgb(230 221 230);
    border: 1px #ead2c3 solid; */
    display: flex;
    flex-direction: column;
    box-shadow: 7px 6px 9px -6px rgba(158,153,158,1);
    height: fit-content;
    background-color: #FFF;
    position: relative;
    align-items: center;
    padding: 2rem 2rem;
    border: 1px #dfdbd7 solid;
}

.table-name {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-bottom: 20px;
}

.table-name > button {
    display: flex;
    font-size: 0.7rem;
    height: fit-content;
    padding: .25rem;
    margin-right: .5rem;
    box-shadow: rgb(0 0 0 / 26%) 0px 1px 3px 0px;
    background-color: #fce8ea;
    border-radius: 20px;
}

.table-name > button:focus {
    outline: none;
}

.table-name > span {
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}

.table-name > form {
    display: flex;
    flex-direction: row;
}

.table-name > form > input {
    border-radius: 20px;
}

.select-style {
    width: 100%;
}

.select-style > div > div > div > div {
    padding: 0px 5px;
}

.delete-table {
    position: absolute;
    bottom: 86%;
    left: 86%;
    color: #D3D3D3;
}

.delete-table:focus {
    outline: none;
}


.icon-style {
    cursor: pointer;
}

.guest-del {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 1rem;
}

.guest-del > button {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0px 5px;
    padding: .375rem 1.5rem;
    box-shadow: rgb(0 0 0 / 26%) 0px 1px 3px 0px;
    background-color: #f6f5f3;
    border-radius: 20px;
}

.guest-del > button:focus {
    outline: none;
}

.undo-btn {
    background-color: transparent;
}

.undo-btn:focus {
    outline: none;
}

.block {
    border-radius: 10px;
 }

 .block > span {
    font-size: 20px;
    font-weight: 500;
}

 @media (max-width: 768px) { 

    .get-tables {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .table-name {
        font-size: 1.3rem;
    }

    .add-form > form {
        width: 80%;
    }
 }

 @media (max-width: 451px) { 
    .get-tables {
        grid-template-columns: repeat(2, 1fr);
    }
 }

 @media (max-width: 414px) { 
    .table-form > form {
        padding: 2rem;
    }

    .get-tables {
        padding: 50px;
    }
 }

 