.add-guest-form {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    margin-top: 20px;
    background: darkgrey;
}

.guest-form-label {
    text-align: center;
    margin: 15px 0px;
}

.guest-form-label > form > label {
    width: 100%;
}

.guest-form-label > form > label > input {
    width: 100%;
}

.add-guest-form  > button {
    width: fit-content;
}

.add-guest-btn {
    margin-top: 10px;
    text-align: center;
}

.add-guest-btn > input {
    width: 100%;
    margin-bottom: 10px;
}