.get-guestlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.byguests {
    padding-bottom: 100px;
}

.byguests___block {
    width: 100%;
    height: fit-content;
}



.block {
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.empty-tab > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.div-guest {
    display: flex;
    flex-direction: column;
    box-shadow: 7px 6px 9px -6px rgba(158,153,158,1);
    height: fit-content;
    background-color: #f9f4cf;
    position: relative;
    align-items: center;
    padding: 2rem 1rem;
    border: 1px #dfdbd7 solid;
    /* border-radius: 10px; */
}

.div-guest > button {
    position: absolute;
    bottom: 86%;
    left: 86%;
    color: #D3D3D3;
}

.guests___li-btns > button {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0px 5px;
    padding: .375rem 1.5rem;
    box-shadow: rgb(0 0 0 / 26%) 0px 1px 3px 0px;
    background-color: #f6f5f3;
    border-radius: 20px;
}

.group-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-transform: uppercase;
}

.nameField {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.nameField > span {
    font-size: 1.2em;
    font-weight: 300;
    color: #7c7676;
}

.nameField > form > input {
    width: 50%;
}

.guest__updateForm > form > input {
    font-size: 1.1em;
    font-weight: 300;
    color: #7c7676;
}

#input___nameField {
    display: flex;
}

#input___nameField > button {
    margin-left: 5px;
}

.nameField > button {
    margin-left: 10px;
}

.nameField___btns {
    margin: 0px 5px;
    background-color: transparent;
}

.guest-picture {
    /* width: 80%; */
}


.guest-picture > img {
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid #fcdee3;
}

.modal___picture {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

@media (max-width: 414px) { 
    .get-guestlist {
        grid-template-columns: repeat(2, 1fr);
    }

    /* .guest-picture > img {
        height: 7rem;
    } */
}