.get-guestlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    /* grid-template-columns: repeat(5, 1fr); */
    row-gap: 10rem;
    column-gap: 2rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
}

.byguests {
    padding-bottom: 100px;
}

.byguests___block {
    width: 100%;
    padding: 100px 0;
    height: fit-content;
}



.block {
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.empty-tab > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.div-guest {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 17px 0px rgb(230 221 230);
    height: 150px;
    background-color: rgba(231, 227, 224, 0.7);
    position: relative;
    align-items: center;
    padding: 20px;
    border: 1px #dfdbd7 solid;
    border-radius: 10px;
}

.div-guest___container {
    position: absolute;
    bottom: 19%;
    width: 100%;
    text-align: -webkit-center;
}

.group-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-transform: uppercase;
}

.nameField {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.nameField > form > input {
    width: 50%;
}

#input___nameField {
    display: flex;
}

#input___nameField > button {
    margin-left: 5px;
}

.nameField > button {
    margin-left: 10px;
}

.nameField___btns {
    margin: 0px 5px;
    background-color: transparent;
}

.guest-picture {
    width: 80%;
}


.guest-picture > img {
    object-fit: cover;
    width: 100%;
    height: 9rem;
    border-radius: 50%;
}

.modal___picture {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

@media (max-width: 414px) { 
    .get-guestlist {
        grid-template-columns: repeat(2, 1fr);
    }

    .guest-picture > img {
        height: 7rem;
    }
}