.get-guestlist {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
    grid-template-columns: repeat(5, 1fr);
    row-gap: 5rem;
    column-gap: 2rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
}

.byguests___block {
    width: 100%;
}



.block {
    width: 100%;
    text-align: center;
    /* position: relative; */
    /* margin: 0px 150px; */
    border-radius: 10px;
}

.empty-tab > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.div-guest {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 17px 0px rgb(230 221 230);
    height: 150px;
    background-color: rgba(231, 227, 224, 0.7);
    position: relative;
    align-items: center;
    padding: 20px;
}

.div-guest___container {
    position: absolute;
    bottom: 19%;
}

.group-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-transform: uppercase;
}

.nameField {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.nameField > form > input {
    width: 50%;
}

#input___nameField {
    display: flex;
}

#input___nameField > button {
    /* float: right; */
    margin-left: 5px;
}

.nameField > button {
    /* float: right; */
    margin-left: 10px;
}

#nameField___check_btn {
    margin: 0px 5px;
}

.guest-picture > img {
    height: 100px;
    border-radius: 100px
}

.del-guest {
    /* align-items: center;
    position: absolute;
    top: 80%;
    right: 27%; */
}

.modal___picture {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}