h3 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.3px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}
.wedding-img {
    height: 40rem;
    background-color: greenyellow;
    /* background-image: url("../../../../img/couple.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wedding-img > img {
    height: inherit;
    width: 100%;
    object-fit: cover;
}

.wedding-infos {
    /* padding-top: 60px; */
}

.info {
    padding: 50px;
}

.wedding-intro {
    background: #FFFFFF;
    text-align: center;
}

.wedding-card {
    padding: 16px;
}

.wedding-card___name {
    font-family: 'Alex Brush', cursive;
    font-size: 6em;
    margin: 0;
}

.wedding-card___and {
    font-family: 'Alex Brush', cursive;
    font-size: 2em;
    margin: 0px 10px;
}

.wedding-card___date, .wedding-card___title {
    font-family: 'Alex Brush', cursive;
    font-size: 3em;
    margin: 0px 10px;
}



.schedule {
    background: #fcdccc;
}

.schedule-cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    padding: 1rem;
    margin-bottom: 0px;
    box-sizing: border-box;
}

.schedule-cols > li {
    text-align: center;
    padding: 20px 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000000;
    margin-bottom: 5px;
}

.additionnal-info {
    background: #FFFFFF;
}

.additionnal-info > p {
    padding: 16px;
}