.todo___bgimage {
    height: 20rem;
    /* background-attachment: fixed; */
    background-image: url("../../img/todo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.todo-container {
  padding-bottom: 100px;
}

/* .toggle {
    --size: 1.5rem;
    --width: calc(1.5rem * 2);
    display: inline-grid;
    align-items: center;
    width: var(--width);
    height: var(--size);
    cursor: pointer;
  }
  
  .toggle::before {
    content: "";
    grid-area: 1 / -1;
    width: var(--width);
    height: var(--size);
    transition: all 250ms ease;
    border-radius: var(--width);
    background-color: #d0b8ac;
  }
  
  .toggle:hover::before {
    box-shadow: 0 0 0 2px #e8e8e4;
  }
  
  .toggle::after {
    content: "";
    grid-area: 1 / -1;
    width: calc(var(--size) * 0.8);
    height: calc(var(--size) * 0.8);
    transform: translateX(10%);
    transform-origin: center center;
    transition: all 250ms ease;
    border-radius: 100%;
    background: #fff;
  }
  
  .toggle:checked::before {
    background-color: #f2e9e4;
  }
  
  .toggle:checked::after {
     transform: translateX(calc(var(--width) - var(--size) * 0.8 - 10%));
  }
  
  .toggle:disabled {
    pointer-events: none;
    filter: grayscale(1);
  }
  
  .toggle:disabled::before {
     background: #2be;
  } */

  .add-task-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    border-radius: 5px;
  }

  .add-task-form > form > div > button {
    margin-left: 10px;
    border-style: none;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: #b2a9a9;
    color: #FFF;
    min-width: 8rem;
    transition: 0.2s all ease-in-out;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 26%);
    text-shadow: 0px 0px 1px #333;
}

.add-task-form > form > div > button:hover {
    background: #e0d9d9;
    color: #FFF;
    animation: none;
}
.add-task-form > form > div > button:focus {
    color: #FFF;
    outline: none;
}

.add-task-form > form > div > button:active {
    color: #D18476;
}

.select-tasks {
  padding-left: 15px;
  padding-right: 15px;
  font-family: Playfair Display, serif !important;
  height: fit-content;
}

.MuiButtonBase-root {
  font-family: Playfair Display, serif !important;
}

.tasks__list {
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 14%);
  border: solid 1px rgb(151, 151, 151, 0.18);
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 300px;
  margin-top: 4rem;
}

.tasks-title {
  display: flex;
}

.tasks-count {
  display: none;
}

@media (max-width: 786px) {
    .todo___bgimage {
      border-radius: 0;
      margin: 0;
  }

  .tasks-title {
    display: none;
  }

  .tasks-count {
    display: flex;
  }

  .add-task-form {
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  .todo___bgimage {
    height: 10rem;
  }
  .tasks-count {
    font-size: 1.3rem !important;
  }

  .tasks__list {
    padding-top: 0;
  }

  .tasks__list > div > div {
    text-wrap: balance;
  }
}

@media (max-width: 414px) {
    .todolist___checkbox_span {
        margin-right: 10px;
    }
}