  .add-task-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    border-radius: 5px;
  }
  .form-and-search {
    padding: 2rem 4rem;
  }

  .add-task-form > form > div > button {
    margin-left: 10px;
    border-style: none;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: #b2a9a9;
    color: #FFF;
    min-width: 8rem;
    transition: 0.2s all ease-in-out;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 26%);
    text-shadow: 0px 0px 1px #333;
}

.add-task-form > form > div > button:hover {
    background: #e0d9d9;
    color: #FFF;
    animation: none;
}
.add-task-form > form > div > button:focus {
    color: #FFF;
    outline: none;
}

.add-task-form > form > div > button:active {
    color: #D18476;
}
#result-select-section {
  padding: 0 4rem;
}
#result-select {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
#result-select > div:nth-child(1) {
  margin-right: 1rem;
}
#result-select > div:nth-child(1) > span {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
#result-select > div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.select-tasks {
  padding-left: 15px;
  padding-right: 15px;
  font-family: Playfair Display, serif !important;
  height: fit-content;
  background-color: #FFF;
}

.MuiButtonBase-root {
  font-family: Playfair Display, serif !important;
}

.tasks__list {
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 14%);
  border: solid 1px rgb(151, 151, 151, 0.18);
  background-color: #FFF;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 300px;
  margin-top: 4rem;
}

.tasks-title {
  display: flex;
}

@media (max-width: 786px) {
  .tasks-title {
    display: none;
  }

  .add-task-form {
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  .tasks-count {
    font-size: 1.3rem !important;
  }

  .tasks__list {
    padding-top: 0;
    box-shadow: none;
  }

  .tasks__list > div {
    gap: 0;
  }

  .tasks__list > div > div {
    text-wrap: balance;
  }

  .task-container {
    margin-right: 0;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .task-container__ {
    padding: 0 !important;
    max-width: 700px;
  }
}
#empty-task {
  align-self: center;
  margin-top: 5rem;
  font-size: 1.3rem;
}

@media (max-width: 414px) {
    .todolist___checkbox_span {
        margin-right: 10px;
    }
}