.todo___bgimage {
    height: 20rem;
    /* background-attachment: fixed; */
    background-image: url("../../img/todo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    margin: 3rem;
}

.todo-list {
    width: 100%;
    padding: 5rem 10rem;
    min-height: 500px;
}

@media (max-width: 786px) {
    .todo-list {
        padding: 0rem 5rem;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 414px) {
    .todo-list {
        padding: 0rem 1rem;
    }
}