.threedots:after {
    content: "\2807";
    font-size: 30px;
    color: darkgrey;
  }

  .threedots:before, .threedots:before {
    text-decoration: none;
  }
.custom-dropdown > .show > div > a {
    font-size: 1.2rem;
}
