.add-todo___form > form {
    text-align: center;
}

.add-todo___form > form > input {
    padding: 8px 32px 8px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid pink;
    outline: none;
    width: 320px;
    /* background: transparent; */
    color: #000000;
}

.todo-input::placeholder {
    color: grey;
    font: italic;
}

.add-todo___form > form > button {
    padding: 10px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      25deg,
      rgba(254, 173, 185, 1) 0%, 
      rgba(237, 203, 189, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }