.add-todo___form {
    justify-content: center;
    width: 100%;
}

.add-todo___form > form {
    width: 60%;
    text-align: center;
}

.add-todo___form > form > div {
    width: 100%;
    display: flex;
    border: lightgray 1px solid;
    padding: 0 0.5rem;
    border-radius: 10px;
    background: #FFFFFF;
    padding: .375rem .375rem .375rem .75rem;
    /* box-shadow: 7px 6px 25px -6px rgb(158 153 158); */
}

.add-todo___form > form > div > input {
    border-style: none;
}

.add-todo___form > form > div > button {
    margin-left: 10px;
    border-style: none;
    background: white;
  }