.guest-container {
    background-image: url("../../img/invitation.jpg");
    background-size: cover;
    background-position: center;
    min-height: 600px;
    /* position: relative; */
}

.select-section {
    text-align: end;
}

.guest-form {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 10rem; */
    width: 50%;
}
.guest-form > form {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.guest-form > form > label {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.3px;
    text-align: center;
    /* color: #e4bdb7; */
    color: #000000;
    text-transform: uppercase;
}

.guest-form > form > input {
    margin-right: 1rem;
}

.byguests {
    border-radius: 10px;
    margin: 50px 0px;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(312,312,312,0.85);
    padding: 50px;
    box-shadow: 10px 10px 13px -6px rgba(184,178,184,1);
}