.guest-container {
    /* background-attachment: fixed;
    background-image: url("../../img/demoiselles.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    min-height: 600px;
    /* position: relative; */
}

.guest-form {
    display: flex;
    justify-content: space-around;
    width: 50%;
    box-shadow: 0px 10px 20px -3px rgba(181,174,181,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    border-radius: 5px;
}
.guest-form > form {
    width: 100%;
}

.guest-form > form > div {
    width: 100%;
    display: flex;
    padding: 0 0.5rem;
    border-radius: 10px;
    background: #FFFFFF;
    padding: .375rem .375rem .375rem .75rem;
    justify-content: space-around;
}


.guest-form > form > div > input {
    border-style: none;
    width: 80%;
    border: 1px solid lightgrey;
    border-radius: 10px !important;
}

.guest-form > form > div > input::placeholder {
    font: italic;
}

.guest-form > form > div > button {
    margin-left: 10px;
    border-style: none;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: #B4BC98;
}

.guest-form > form > div > button:active {
    color: #D18476;
}
.guest-form > form > div > button:focus {
    outline: none;
}

.search__container {
    width: 35%;
    display: flex;
    border: lightgray 1px solid;
    padding: 0 0.5rem;
    border-radius: 10px;
    background: #FFFFFF;
    padding: .375rem .375rem .375rem .75rem;
    /* box-shadow: 7px 6px 25px -6px rgba(158,153,158,1); */
    text-align: center;
}

.guests___bgimage {
    height: 20rem;
    background-attachment: fixed;
    background-image: url("../../img/demoiselles.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.guests___title {
    padding: 50px;
    text-align: -webkit-center;
}

.guests___title_style {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    width: fit-content;
    padding-right: 30px;
    padding-left: 30px;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
}

.guests___list {
    width: 100%;
    padding: 5rem 10rem;
    min-height: 500px;
}

.guests__search {
    margin-top: 10rem;
    padding: 0 10rem;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .guest-form > div, form {
        width: 50%;
    }

    .guest-form > form > label {
        font-size: 1rem;
    }

}

@media (max-width: 540px) {
    .guest-form {
        display: flex;
        flex-direction: column-reverse;
    }
    .search__container {
        align-self: flex-end;
    }
    .guest-form > form {
        align-self: center;
        width: 60%;
    }
}

@media (max-width: 414px) {
    .guest-form > form {
        padding: 2rem;
    }

}