/* appear - on page load */
.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

.guest-container {
    min-height: 600px;
}

.guest-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    border-radius: 5px;
}

.guest-form > form {
    width: 100%;
}

.guest-form > form > div {
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 10px !important;
}

/* 
.guest-form > form > div > input {
    border-style: none;
    width: 80%;
    padding: 2rem;
}
.guest-form > form > div > img {
    height: fit-content;
    align-self: center;
    padding-left: 5px;
} */



.guest-form > form > div > input::placeholder {
    font: italic;
}

.guest-form > form > div > button {
    margin-left: 10px;
    border-style: none;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: #b2a9a9;
    color: #FFF;
    min-width: 8rem;
    transition: 0.2s all ease-in-out;
}

.guest-form > form > div > button:hover {
    background: #e0d9d9;
    color: #FFF;
    animation: none;
}
.guest-form > form > div > button:focus {
    color: #FFF;
    outline: none;
}

.guest-form > form > div > button:active {
    color: #D18476;
}

.guests___bgimage {
    height: 20rem;
    /* background-attachment: fixed; */
    background-image: url("../../img/demoiselles.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 7px;
    margin: 3rem;
}

.guests___list {
    width: 100%;
    padding: 5rem 10rem;
    min-height: 500px;
}


.select-family {
    width: 20rem;
    border-radius: 5px;
    padding: 0.7rem;
    border-color: #ccc;
    align-self: flex-end;
    margin-bottom: 3rem;
}


@media (max-width: 1312px) {
    .get-guestlist {
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    }
}
@media (max-width: 1024px) {
    .guest-form > div, form {
        width: 100%;
    }

    .guest-form > form > label {
        font-size: 1rem;
    }
    .guest-container > .container-fluid .row {
        display: flex;
        justify-content: center;
    }
    .guests___list {
        padding: 5rem 0rem;
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    }
}

@media (max-width: 913px) {

    .guest-form > form > label {
        font-size: 1rem;
    }
    .guest-container > .container-fluid .row {
        display: flex;
        justify-content: center;
    }
    .guests___list {
        padding: 5rem 0rem;
    }
    .get-guestlist {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }
    .guest-picture > img {
        width: 8rem;
        height: 8rem;
    }    
}

@media (max-width: 768px) {
   
    .guest-form > form > label {
        font-size: 1rem;
    }
    .guest-container > .container-fluid .row {
        display: flex;
        justify-content: center;
    }
    .guests___bgimage {
        border-radius: 0;
        margin: 0;
    }
}

@media (max-width: 540px) {
    .guest-form {
        display: flex;
        flex-direction: column-reverse;
    }
    .search__container {
        align-self: flex-end;
    }
    .guest-form > form {
        align-self: center;
        width: 100%;
    }
}

@media (max-width: 459px) {
    .get-guestlist {
        grid-template-columns: 1fr;
    }
    .div-guest___container {
        display: flex;
        width: 100%;
        margin-top: 0;
        flex-direction: row;
    }
    .dropdown > a {
        position: absolute;
        top: -15px;
        right: -8px;
        cursor: pointer;
    }
    /* .guest-picture {
        margin-left: 3rem;
    } */
    .div-guest___container > .nameField {
        position: relative;
    }
    /* .div-guest___container > .nameField > span {
        position: absolute;
        left: 39px;
        top: -8px;
        font-size: 1.5em;
    } */
    .guest__updateForm > form {
        position: absolute;
        top: 50%;
    }
}