.green-btn {
    background: #CCD5AE;
    border-radius: 20px;
    padding: 1rem;
}

.budget {
    padding-bottom: 100px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-family: 'Noto Sans JP', sans-serif;
}

.card-body > span {
    font-size: 3em;
    text-align: center;
}

.budget___bgimage {
    height: 20rem;
    background-attachment: fixed;
    background-image: url("../../img/budget-bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.budget-form___style > span {
    place-self: flex-end;
}

.budget___title {
    padding: 50px;
    text-align: -webkit-center;
}

.budget___title_style {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    width: fit-content;
    padding-right: 30px;
    padding-left: 30px;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
}

.budget-cols {
    width: 100%;
    margin-top: 10rem;
    padding: 5rem 10rem;
    min-height: 500px;
}

.budget___col-2 {
    display: flex;
}
.budget___col-2 > div, ul{
    padding: 0 10rem;
}
.budget-form {
    display: flex;
    justify-content: space-around;
    width: 50%;
    background: white;
    padding: 2rem;
    border-radius: 5px;
}

.budget-form > form {
    width: 100%;
}

.budget-form > form > div > input {
    border-radius: 10px;
}

.budget-form___add-btn, .budget-form___submit {
    text-align: end;
}

.budget___select {
    width: 50%;
}
.budget___select > select {
    border-radius: 5px;
    padding: 0.7rem;
    border-color: #ccc;
}
.budget___col-1 {
    display: flex;
    flex-direction: row;
}

.budget___col-1 > .chart-component{
    width: 60%;
}

.budget___col-1 > .chart-component > .pie > canvas {
    height: 22rem;
}
.card-component > .card {
    border-radius: 10px;
}

@media (max-width: 1024px) { 
    .card-body > span {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) { 
    .card-body > span {
        font-size: 2rem;
    }
}

@media (max-width: 575.98px) { 
    .budget___col-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-component {
        align-self: flex-end;
        width: 60%;
    }
    .chart-component {
        margin-top: 3rem;
    }
    .pie > canvas {
        height: 29rem;
    }
    .budget___col-2 > ul {
        padding: 0px 5rem;
    }
    .budget___col-2 > .budget-form {
        padding: 0 5rem;
    }
 }

@media (max-width: 414px) { 
    .budget-form > form {
        margin-left: 0;
    }
    .budget-form___style {
        font-size: 75%;
    }
}