.green-btn {
    background: #CCD5AE;
    border-radius: 20px;
    padding: 1rem;
}

.budget {
    padding-bottom: 100px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body > span {
    font-size: 3em;
    text-align: center;
}

.budget___bgimage {
    height: 20rem;
    background-image: url("../../img/white-wallpaper.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* .glass-div {
    background: linear-gradient(to bottom right,rgba(255,255,255,0.33333),rgba(255,255,255,0),rgba(255,255,255,0.33333));
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    transform: scale(1);
    transform: translate(-50%, -50%);
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,0.2);
    position: absolute;
    left: 50%;
    top: 100%;
    padding: 5rem;
    transition: 250ms all;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%);
} */

.budget-form___style > span {
    place-self: flex-end;
}

.budget-cols {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 500px;
}

.budget___search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.budget___col-2 {
    display: flex;
}
/* .budget___col-2 > .budget-list, .chart-component {
    padding: 0 10rem;
} */

.budget-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    background: white;
    border-radius: 5px;
}

.budget-form > form {
    width: 100%;
    max-width: 27rem;
}

.budget-form > form > div > input {
    border-radius: 10px;
}

.budget-form___add-btn, .budget-form___submit {
    margin-top: 1.5rem;
    text-align: end;
}

.budget-form___submit {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.budget-form___submit > button:hover {
    background: #e0d9d9;
    color: #FFF;
    animation: none;
}
.budget-form___submit > button:focus {
    color: #FFF;
    outline: none;
}

.budget-form___submit > button:active {
    color: #D18476;
}

.budget___select {
    width: 100%;
}

.budget___select > select {
    border-radius: 5px;
    padding: 0.6rem;
    border-color: #ccc;
    width: 100%;
}
.budget___col-1 {
    display: flex;
    flex-direction: row;
}

.budget___col-1 > .chart-component{
    width: 60%;
}

.budget___col-1 > .chart-component > .pie > canvas {
    height: 15rem;
}
.card-expense-component > .card {
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 14%);
    padding: 1rem 1rem !important;
    flex-direction: column;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    justify-items: center;
    text-align: center;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 14%);
    border: solid 1px rgb(151, 151, 151, 0.18);
    padding: 2rem 1rem !important;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    height: fit-content;
    justify-items: center;
    text-align: center;
    border-radius: 0;
}

.expense__edit-form {
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 1024px) { 
    .card-body > span {
        font-size: 2.5rem;
    }

}

@media (max-width: 768px) { 
    .card-body > span {
        font-size: 2rem;
    }
    .budget___bgimage {
        height: 20rem;
    }
}

@media (max-width: 600px) { 
    .budget___col-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-component {
        align-self: initial;
        width: 80%;
    }
    .chart-component {
        margin-top: 3rem;
    }
    .pie > canvas {
        height: 20rem;
    }
    .budget___col-2 > ul {
        padding: 0;
    }
    .budget___col-2 > .budget-form {
        padding: 0 5rem;
    }
    .budget-form {
        width: 100%;
    }
    .budget___search {
        justify-content: center;
    }
    .budget___search > div {
        width: 70%;
    }
    .budget___col-1 > .budget-form {
        margin-top: 4rem;
    }
    .budget-cols {
        padding-left: 0;
        padding-right: 0;
    }
    .budget___col-1, .pie {
        padding-left: 20px;
        padding-right: 20px;
    }
 }

@media (max-width: 414px) { 
    .budget-form > form {
        margin-left: 0;
    }
    .budget-form___style {
        font-size: 75%;
    }
    .budget___col-2 > ul {
        padding: 0;
    }
}