.invitation-form-container {
    margin-bottom: 50px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.3px;
    text-align: center;
    /* color: #e4bdb7; */
    color: #000000;
    text-transform: uppercase;
}

.title-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}

.invitation-form {
    display: flex;
    justify-content: center;
}

.full-width {
    width: 100%;
}

.mt-30 {
    margin-top: 30px;
}

.plr-15 {
    padding-left: 15px;
}

.mb-3 > input {
    padding: 3px;
}

.event-form___add-btn {
    text-align: end;
}

.event-form___submit {
    text-align: end;
}

.events-list > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.events-list___inputs > input {
    margin: 5px 0px;
}

.events-list___li {
    list-style: none;
}

.overview  {
    display: flex;
    flex-direction: column;
}

.overview > div {
    height: 200px;
    object-fit: contain;
    align-self: flex-end;
    position: relative;
}

.overview > div > img {
    height: inherit;
}

.overview > div > button {
    position: absolute;
    right: 0px;
}