.-form-container {
    margin-bottom: 50px;
}

.invitation___title {
    padding: 50px;
    text-align: -webkit-center;
}

.invitation___title_style {
    padding-bottom: 20px;
    border-bottom: 1px solid;
    width: 20%;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
}

.-form {
    display: flex;
    justify-content: center;
}

.invitation-form {
    padding: 0px 50px;
}

.schedule-col, .invitation-form-col {
    padding: 20px 0px;
}

.schedule-list {
    list-style: none;
}

.full-width {
    width: 100%;
}

.mt-30 {
    margin-top: 30px;
}

.plr-15 {
    padding-left: 15px;
}

.mb-3 > input {
    padding: 3px;
}

.event-form___add-btn {
    text-align: end;
}

.event-form___submit {
    text-align: end;
}

.events-list > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.events-list___inputs > input {
    margin: 5px 0px;
}

.events-list___li {
    list-style: none;
}

.overview  {
    display: flex;
    flex-direction: column;
}

.overview > div {
    height: 200px;
    object-fit: contain;
    align-self: flex-end;
    position: relative;
}

.overview > div > img {
    height: inherit;
}

.overview > div > button {
    position: absolute;
    right: 0px;
}