.header {
    height: 10vh;
    width: 100%;
}

.navigation {
    height: 100%;
    width: 100%;
    /* clear: both; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem;
}

.topNavbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    min-height: 3rem;
    padding: 0 2rem;
    background-color: white;
    color: darkgrey;
    z-index: 999;
}
.topNavbar > div {
    height: 10vh;
    padding: 1rem;
}
.navbar__links {
    display: flex;
}

.navbar__item > a{
    padding: 0 .3rem;
    color: darkgrey;
}
.navbar__burger {
    
}
.navbar__burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: red;
    display: none;
}


.nav-logo {
    height: 100%
}

#brand {
    height: 100%;
    display: flex;
    align-items: center;
}

#brand > a {
    height: 60%;
}

#brand > a > img {
    height: 100%;
}

.div-logo {
    cursor: pointer;
    height: 100%;
}
.div-logo > img {
    height: 100%;
}


.navbar-menu {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    /* display: inline-block; */
    /* float: right; */
    /* box-shadow: -20px 18px 46px -13px rgb(204 198 204); */
}
.navbar-menu > li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    color: rgb(156, 154, 154);
}

.navbar-menu > li > a, .navbar-menu > li > button {
    color: rgb(156, 154, 154);
}
.hidden-links {
    display: none;
}

/* Sidebar */

.navbar-side {
    place-content: flex-end;
}

.dropdown-item {
    font-size: 0.7rem;
}

.dropdownmenu {
    background-color: #F8F9FA;
}

.sidebar {
    width: 20%;
    height: 90vh;
    /* background-color: #CCD5AE; */

    /* background: rgb(148,154,127);
    background: linear-gradient(90deg, rgba(148,154,127,1) 0%, rgba(193,201,166,1) 53%, rgba(211,221,181,1) 100%); */
    background: rgb(193,201,166);
    background: linear-gradient(90deg, rgba(193,201,166,1) 0%, rgba(211,221,181,1) 53%, rgba(244,242,194,1) 100%);
    position: fixed;
}

.sidebarList {
    height: auto;
    padding: 0;
    width: 100%;
    font-size: 1.7rem;
}

.sidebarList > .menu-row {
    width: 100%;
    height: 6rem;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebarList > .menu-row:hover {
    cursor: pointer;
    background-color: #edf7ca;
}

.sidebarList > #active {
    background-color: #B4BC98;
    /* background-color: #B4BC98; */
}

.menu-row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.menu-row #title {
    flex: 70%;
}
.sidebar__greetings {
    padding: 3rem 2rem;
    word-break: break-word;
}
.sidebar__greetings > p{
    word-break: break-word;
}
.greetings {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.sidebar__greetings > .names {
    font-size: 1.9rem;
}
.bg-white {
    background-color: inherit;
}

@media only screen and (max-width : 1024px) {
    .sidebar {
        width: 30%;
    }
    }

@media screen and (max-width: 767px) {
    .hidden-links {
        display: flex;
    }
    .navbar__links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        visibility: hidden;
        right: -100vw;
        bottom: 0;
        height: 100vh;
        padding: 2rem;
        background: black;
    }
    .show_nav .navbar__links {
        right: 0;
        width: 100vw;
        visibility: visible;
    }
    .navbar__link {
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }
    .navbar__burger {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
    }
    .navbar__burger:hover {
        cursor: pointer;;
    }
    .burger_bar,
    .burger_bar::before,
    .burger_bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: #4A4E69;
        transition: all .5s ease-in-out;
    }
    .burger_bar::before,
    .burger_bar::after {
       content: "";
       position: absolute;
       left: 0;
    }
    .burger_bar::before {
        transform: translateY(-12px);
    }
    .burger_bar::after {
        transform: translateY(12px);
    }
    .show_nav .burger_bar {
        width: 0;
        background: transparent;
    }
    .show_nav .burger_bar::before {
        transform: rotate(45deg);
    }
    .show_nav .burger_bar::after {
        transform: rotate(-45deg);
    }
}