.header {
    height: 15vh;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0,0, 0.2);
    /* position: fixed; */
    /* z-index: 9999; */
}

.header-style {
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-size: 11px;
}

.navigation {
    height: 100%;
    width: 100%;
    clear: both;
}

#brand {
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

#brand > a {
    height: 60%;
}

#brand > a > img {
    height: 100%;
}

a {
  display: inline-block;
  color: #333;
  text-decoration: none
}

.navbar-menu {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    /* display: inline-block; */
    float: right;
    
}

.navbar-menu > li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    color: rgb(156, 154, 154);
}

.navbar-menu > li > a {
    color: rgb(156, 154, 154);
}
