.db-component-content {
    font-size: 3rem;
    margin-bottom: 2rem;
}

#home-cards {
    max-width: 20rem;
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
}

.db-component-style > h3 {
    font-size: 1rem;
    text-transform: uppercase;
}

.dashbord-content {
    padding: 0;
    text-align: center;
    margin-top: 1rem;
}

.dashbord-return-content {
    margin-bottom: 5rem;
    text-align: center;
    width: 100%;
}

.dashbord-view-details {
    position: absolute;
    bottom: 10%;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}