h1 {
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 2rem;
}

.register section {
    display: flex;
    text-align: justify;
    justify-content: flex-end;
}

.registerBox input {
    margin-top: 5px;
}

.registerBox h1 {
    text-align: center;
}

.input-title {
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.reg-input {
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.reg-input > label {
    margin-bottom: 0px;
}

.w-input {
    width: 45%;
}

.dims-input input {
    border-radius: 2px;
    border: solid 1px rgb(151, 151, 151, 0.28);
    height: 25px;
    width: 80%;
}

.register {
    height: fit-content;
}

.register > section {
    margin: 0px;
}

.registerBox form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerBox section {
    margin-bottom: 5px;
    width: 100%;
}

.registerBox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #FFF5F1; */
    padding: 50px 0px 50px 0px;
}

.register-row {
    height: 25rem;
    /* background: lightpink; */
    /* border: 1px solid; */
}

.square-img {
    /* background: lightblue; */
    width: 50%;
    /* padding: 15px; */
}

.square-img > img {
    height: -webkit-fill-available;
    width: 100%;
}

.square-text {
    /* background: lightgrey; */
    width: 50%;
    /* padding: 15px; */
}

.reverse {
    flex-direction: row-reverse;
}

.registerBox > h1 {
    text-transform: uppercase;
}

.loginForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.loginForm > form {
    width: 100%;
}

.loginForm > h1 {
    text-transform: uppercase;
}