.budget-list {
    list-style: none;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

.budget-list > li > ul {
    list-style: none;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 0 10px 10px 0;
}

.expenses-container {
    /* max-width: 350px; */
    min-width: 300px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 14%);
    /* border: solid 1px rgb(151, 151, 151, 0.18); */
    padding: 1rem 1rem !important;
    flex-direction: column;
    align-items: center;
    /* max-width: 400px; */
    height: fit-content;
    justify-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #fcfcfc;
}

.li___icon {
    background-color: inherit;
}

.icon___container {
    height: 4rem;
    border-radius: 50%;
    background-color: yellow;
    padding: 15px;
}

.icon___container > img {
    height: 100%;
    /* margin: 5px; */

}

.expense-li {
    padding: 0.5rem 0;
    width: 100%;
    background-color: inherit;
}

/* .expense__li__style {
    list-style: none;
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 0.5rem 1.5rem;
    margin-top: 0.5rem;
} */
/* 
.expense__li__style > div {
    display: flex;
    flex-direction: row;
} */

.expense__li__style > div > span:nth-child(2) {
    margin-top: .5rem;
    color: grey;
}

.expense-li___btn {
    text-align: end;
    padding-right: 0.4rem;
}

.expense-li___btn > button {
    background: inherit;
}

.expense_li___edit-btn {
    text-align: end;
}

.close-btn > button {
    color: #c1b8b8;
}

.expense-update-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.expense-update-form > input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) { 
    .budget-list > li {
        margin-left: 0;
    }
}
@media (max-width: 575.98px) { 
    .expenses-container {
        display: flex;
        flex-direction: column;
    }
    .icon___container {
        display: none;
    }
 }

 @media (max-width: 444px) { 
    .expense__li__style {
        display: flex;
        flex-direction: column;
    }
 }
