.budget-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}

.budget-list > li {
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
}
.budget-list > li > ul {
    list-style: none;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 0 10px 10px 0;
}

.li___strip{
    background-color: lightgreen;
    border-radius: 10px 0 0 10px;
}

.close-btn {
    width: 100%;
    text-align: end;
    color: #c1b8b8;
}

.close-btn > button {
    color: #c1b8b8;
}

