.budget-list {
    width: 100%;
    margin-top: 50px;
}

.budget-list li {
    border-radius: 5px;
    padding: 25px 30px;
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 25px;
}
.budget-list .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #FFF
}
.budget-list .table-row {
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.budget-list .cols-1 {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}
.budget-list .cols-2 {
    width: 20%;
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.budget-list .cols-3 {
    width: 20%;
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.budget-list .cols-4 {
    width: 35%;
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
}
.budget-list .cols-5 {
    width: 5%;
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 768px) {
    .budget-list li {
        padding-left: 10px ;
    }
    .budget-list .cols-1 {
        width: 25%;
    }
    .budget-list .cols-2 {
        width: 15%;
    }
    .budget-list .cols-4 {
        width: 30%;
    }
    .budget-list .cols-5 {
        width: 10%;
    }
}

@media all and (max-width: 600px) {
    .budget___col-2 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .budget-list .table-header {
        display: none;
   }
    .budget-list li {
        display: block;
   }
    .budget-list .cols  {
        width: 100%;
        align-items: center;
   }
    .budget-list .cols  {
        display: flex;
        padding: 10px 0;
   }
    .budget-list .cols:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        width: 50%;
        text-align: right;
   }
}

@media (max-width: 420px) {
    .budget-list .cols  {
        text-align-last: start;
   }
}