.add-group-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0px;
    padding: 0px 10px;
    background: darkgrey;
}

.group-form-label {
    margin: 15px 0px;
    text-align: center;
}

.group-form-label > form {
    padding: 0px 20px;
}

.add-group-form > form > label{
    width: 100%;
}

.add-group-form > form > label > input {
    width: 100%;
}