


/* Mise en forme */
html, body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    font-weight: 400 !important;
    background-color: #F5F7FB;
    font-size: 0.9rem;
    font-family: 'Playfair Display', serif !important;
}

body {
    position: relative;
}
/* 
h1 {
    font-size: 3rem !important;
    font-weight: 600 !important;
    text-align: center;
} */

h2 {
    font-size: 1.75rem !important;
    font-weight: 700 !important;
    color: #6b6565 !important;
}

.content {
    display: flex;
    width: 100%;
    /* padding-bottom: 10rem; */
}


.content-home {
    display: flex;
    width: 100%;
    padding: 0;
}

/********Navigation*********/
.navigation-layout {
    height: 100%;
}

.navigation-layout > nav {
    /* position: fixed;
    width: 100%;
    z-index: 1000; */
    box-shadow: 0px 5px 5px 0px rgba(173,164,173,0.5);
}

.nav-logo > img {
    height: 100%;
}

/*********App Content*******/
.body-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    top: 9vh;
}

.body-content___home {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* position: relative; */
    position: absolute;
    top: 0;
}

.App-home {
    min-height: 91vh;
    width: 80%;
    position: absolute;
    left: 20%;
    background-color: #FFF;
}

.App {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/**********Bannière*******/
.component-title {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #CD9562;
    padding: 1rem 1rem;
    color: #FFF;
    opacity: 0.8;
    border-radius: 5px;
}

.component-title > h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
}

/******Components******/
.page-component {
    width: 100%;
}

.page-location {
    display: none;
    height: 82px;
    position: relative;
}

.page-location > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-location > div > a {
    color: black;
}

button:focus {
    outline: none;
}

.center-x {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.search__container {
    width: 100%;
    display: flex;
    border: lightgray 1px solid;
    padding: 0 0.5rem;
    border-radius: 10px;
    background: #FFFFFF;
    padding: .375rem .375rem .375rem .75rem;
    /* box-shadow: 7px 6px 25px -6px rgba(158,153,158,1); 
    text-align: center;
} */

/* Boutons */
.button {
    height: fit-content;
}

.button-center {
    text-align: center;
}

.button button {
    border-style: none;
    height: 30px;
    padding: 3px 6px;
    font: unset;
    margin: 20px 0px 20px 0px;
}

.titles {
    text-shadow: 1px 1px 1px rgb(0 0 0 / 15%);
    padding-bottom: 2rem;
    padding-left: 1rem;
    margin: 5rem 3rem 3rem 3rem;
    font-family: 'Permanent Marker', cursive;
    /* font-family: 'David Libre', serif !important; */
}
.titles > h2 {
    font-size: 3rem !important;
    text-align: center;
}

.searchbar {
    display: flex;
    justify-content: flex-end;
}
/* Admin Login */
.loginAdmin {
    height: 100vh;
    width: 100%; 
    /* background-color: green; */
 }

.adminForm {
    height: fit-content;
    width: 100%;
    /* background-color: rosybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm form {
    margin-bottom: 15px ;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none ;
}

/* Espace Perso */
.espacePersoBox {
    height: 67%;
    width: 100%;
    /* background-color: rosybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Menu groupes */
.groupes {
    /* height: 100vh; */
    width: 100%; 
    /* background-color: green; */
}

.groupesBox {
    /* height: 67%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groupesBox form {
    width: 60%;
    height: 148px;
    display: flex;
    border: black;
    border-style: solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleSection {
    font-size: 2.25rem;
}

.groupID {
    height: 20px;
    width: 100%;
    background-color: orange;
}

.addGroupBtn {
    height: 50px;
}

.addGroup {
    height: 22%;
    width: 30%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red;
    border-style: dotted;
    list-style: none;
    margin: 10%;
}

.addGroupCroix {
    font-size: 63px;
    margin-bottom: 15px;
}

.divSelectGroup {
    text-align: center;
}

/* Menu menus */
.menus {
    height: 100vh;
    width: 100%; 
    background-color: green;
}

.menusBox {
    height: 67%;
    width: 100%;
}

.addMenu {
    height: 22%;
    width: 30%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red;
    border-style: dotted;
    list-style: none;
    margin: 10%;
}

.addMenuCroix {
    font-size: 63px;
    margin-bottom: 15px;
}

/* Menu gâteau */
/* Menu menus */
.cake {
    height: 100vh;
    width: 100%; 
    background-color: green;
}

.cakeBox {
    height: 67%;
    width: 100%;
}

.addCake {
    height: 22%;
    width: 30%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red;
    border-style: dotted;
    list-style: none;
    margin: 10%;
}

.addCakeCroix {
    font-size: 63px;
    margin-bottom: 15px;
}

@media only screen and (max-width : 1150px) {
    .App-home {
        width: 75%;
        left: 25%;
    }
    }

@media only screen and (max-device-width : 1024px) {
    .App-home > .content {
        padding: 0;
        margin-bottom: 16rem;
    }
    .byguests, .budget, .dashboard, .dashboard___elements, .menu-container > .menu {
        padding-bottom: 0;
    }
    .titles > h2 {
        font-size: 2rem !important;
    }
}

@media (max-width: 768px) { 
    h2 {
        font-size: 2rem;
    }
    .body-content > .sidebar {
        display: none;
    }
    .App-home {
        position: unset;
        width: 100%;
        min-height: 92vh;
    }
    .page-location {
        display: block;
    }
    #component-dashboard {
        display: block;
    }
    /* .titles > h2 {
        margin: 2rem 3rem 0rem;
    } */
    .titles {
        display: none;
    }
 }

 .add-input, .search__container {
    width: 100%;
    max-width: 27rem;
    display: flex;
    border: lightgray 1px solid;
    border-radius: 10px;
    background: #FFFFFF;
    padding: .75rem .375rem .75rem .75rem;
    text-align: center;
 }
 .add-input > img {
    height: fit-content;
    align-self: center;
    padding-left: 5px
 }
 .add-input > input {
    border: none !important;
 }

 .center-h-v{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }

 @media (max-width: 576px) {
    .page-location {
        display: none;
    }
    .component-title {
        display: block;
    }
    .navigation-layout > nav {
        box-shadow: none;
    }
 }

