


/* Mise en forme */
html, body {
    /* background-color: lightgray; */
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Crimson Text', serif;

}

h1 {
    font-size: 1.25rem;
    font-weight: 600;
    font-style: italic;
    line-height: 1.6;
    text-align: center;
}

/* Header */
.header {
    height: 10%;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header img {
    height: 100%;
}

.navbar {
    height: 6%;
    width: 100%;
    background-color: #E7E7E7;
}

/* Boutons */
.button {
    height: fit-content;
}

.button-center {
    text-align: center;
}

.button button {
    border-style: none;
    height: 30px;
    padding: 3px 6px;
    font: unset;
}

/* Accueil Register */
.home {
    height: 100vh;
    width: 100%; 
    /* background-color: green; */
 }

.register {
    height: 67%;
    width: 100%;
    /* background-color: rosybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerBox {
    height: fit-content;
    width: 70%;
    padding: 30px;
    border-radius: 10% 0px;
    background-color: #FFF5F1;
}

.registerBox input {
    margin-top: 5px;
}

.registerBox h1 {
    text-align: center;
}

.reg-input {
    margin-bottom: 10px;
}



/* Admin Login */
.loginAdmin {
    height: 100vh;
    width: 100%; 
    /* background-color: green; */
 }

.adminForm {
    height: 67%;
    width: 100%;
    /* background-color: rosybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    height: fit-content;
    width: 70%;
    padding: 30px;
    border-radius: 10% 0px;
    background-color: #FFF5F1;
}

/* Menu Adm  */
.menuAdm {
    height: 100vh;
    width: 100%; 
    background-color: #FFF5F1;
 }

.menuAdmBox {
    height: 67%;
    width: 100%;
    /* background-color: rosybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
}

.ongletMenu {
    height: 10%;
    width: 30%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red;
    border-style: dotted;
    list-style: none;
}

.ongletMenu h2 {
    margin: 0;
    font-size: 18px;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* Espace Perso */
.espacePersoBox {
    height: 67%;
    width: 100%;
    /* background-color: rosybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Menu groupes */
.groupes {
    height: 100vh;
    width: 100%; 
    background-color: green;
}

.groupesBox {
    height: 67%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groupID {
    height: 20px;
    width: 100%;
    background-color: orange;
}

.addGroup {
    height: 22%;
    width: 30%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red;
    border-style: dotted;
    list-style: none;
    margin: 10%;
}

.addGroupCroix {
    font-size: 63px;
    margin-bottom: 15px;
}

.divSelectGroup {
    text-align: center;
}


/* Menu tables */
.tables {
    height: 100vh;
    width: 100%; 
    background-color: green;
}

.tablesBox {
    height: 67%;
    width: 100%;
}

.addTable {
    height: 22%;
    width: 30%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red;
    border-style: dotted;
    list-style: none;
    margin: 10%;
}

.addTableCroix {
    font-size: 63px;
    margin-bottom: 15px;
}

/* Menu menus */
.menus {
    height: 100vh;
    width: 100%; 
    background-color: green;
}

.menusBox {
    height: 67%;
    width: 100%;
}

.addMenu {
    height: 22%;
    width: 30%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red;
    border-style: dotted;
    list-style: none;
    margin: 10%;
}

.addMenuCroix {
    font-size: 63px;
    margin-bottom: 15px;
}

/* Menu gâteau */
/* Menu menus */
.cake {
    height: 100vh;
    width: 100%; 
    background-color: green;
}

.cakeBox {
    height: 67%;
    width: 100%;
}

.addCake {
    height: 22%;
    width: 30%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red;
    border-style: dotted;
    list-style: none;
    margin: 10%;
}

.addCakeCroix {
    font-size: 63px;
    margin-bottom: 15px;
}

.footer {
    height: 17vh;
    width: 100%;
    background-color: #000000;
}
