.home {
    min-height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./../../img/aisle.jpg');
    background-size: cover;
    position: relative;
 }

.home-desc {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    background: rgba(255,255,255,0.5);
    padding: 2rem;
}

.home-btn {
    position: relative;
    bottom: 30%;
    transform: translateY(-30%);
    color: black;
}

.home-link {
    position: absolute;
    top: 70%;
}

.home-link > a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
}