.home {
    min-height: 92vh;
    width: 100%;
    display: flex;
    margin-top: 8vh;  
    padding-left: 10rem;
    background-color: #e8e8e4;
    /* flex-direction: column;
    align-items: center;
    background-image: url('./../../img/aisle.jpg');
    background-size: cover;
    position: relative; */
 }

/* .home___position {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */

.home___position {
    width: 100%;
    position: relative;
}

.home___position-style {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.home__picture {
    width: 100%;
    height: fit-content;
}

.home__picture > img {
    width: inherit;
}

.home-desc {
    color: black;
    /* background: rgba(255,255,255,0.7); */
    padding: 2rem;
    margin-bottom: 2em;
    border-radius: 5px;
}

.home-desc > h1 {
    font-size: 6rem;
}

.home-desc > p {
    margin-right: 150px;
    line-height: 2.4rem;
}

.home-desc > p > span {
    display: block;
}

.home-btn {
    position: relative;
    bottom: 30%;
    transform: translateY(-30%);
    color: black;
}

.home___register-btn {
    width: 100%;
    text-align: center;
}

.home-link {
    border-radius: 20px;
    font-size: 1rem;
}

.home-link > a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: black;
}

