.responsive-card {
    display: none !important;
}
.responsive-card > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.responsive-card > div > span:nth-child(1) {
    width: 50%;
    text-align: end;
    align-self: center;
    font-weight: 600;
    color: #6c7a89
}
.responsive-card > div > span:nth-child(2) {
    width: 50%;
}

#tr-description {
    align-self: unset;
}

@media (max-width: 768px) {
    .responsive-card {
        display: flex !important;
        flex-direction: column !important;
        gap: 20px;
    }
    .expense-card {
        display: none !important;
    }
}

@media (max-width: 430px) {
    .responsive-card > div > span:nth-child(1) {
        width: 40%;
    }
    .responsive-card > div > span:nth-child(2) {
        width: 60%;
    }
}

@media (max-width: 375px) {
    .responsive-card {
        padding-left: 0;
        padding-right: 0;
    }
    .responsive-card > div {
        flex-direction: column;
        align-items: center;
        text-align-last: center;
        gap: 0;
    }
}