.sidetab {
    display: flex;
    justify-content: center;
}

.tab {
    background: darkgray;
    width: fit-content;
    padding: 5px;
    color: black;
    margin: 0px 3px;
    border-radius: 0px 0px 5px 5px;
    text-transform: uppercase;
}