h2 {
    font-weight: 400;
}

.menu-span {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    height: 8rem;
}

.menu-span > span {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.3px;
    text-align: center;
    color: #e4bdb7;
    text-transform: uppercase;
}

.grid-container-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #000000;
    margin-bottom: 5px;
}

button {
    border-style: none;
    background: white;
    border-radius: 5px;
}

.forms {
    padding: 2rem;
    /* width: 20rem; */
    background-color: #FFFFFF;
    -webkit-box-shadow: -20px 18px 46px -13px rgba(204,198,204,1);
    -moz-box-shadow: -20px 18px 46px -13px rgba(204,198,204,1);
    box-shadow: -20px 18px 46px -13px rgba(204,198,204,1);
}

.form {
    margin-bottom: 1rem;
}

.forms > h2 {
    font-family: 'Alex Brush', cursive;
    text-align: center;
}

.form > form > input {
    border-radius: 5px;
    margin-right: 5px;
    border-style: unset;
}

.starter {
    background-color: #ffeeeb;
}

.maincourse {
    background-color: #fcd6cf;
}

.dessert {
    background-color: #fab6aa;
}