/* h2 {
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
} */

ul {
    list-style: none;
}

.starter___div_form > ul > li, .maincourse___div_form > ul > li, .dessert___div_form > ul > li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.starter___div_form > ul, .maincourse___div_form > ul, .dessert___div_form > ul {
    padding: 0;
}

.menu {
    padding-bottom: 100px;
}

.menu___bgimage {
    height: 10rem;
    background-attachment: fixed;
    background-image: url("../../img/menus/menu-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu___title {
    padding: 50px;
    text-align: -webkit-center;
}

.menu___title_style {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    width: fit-content;
    padding-right: 30px;
    padding-left: 30px;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
}

.menu___list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
    row-gap: 4rem;
    padding: 0 4rem;
}

.forms > ul {
    padding: 0;
}

.forms > ul > li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #000000;
    margin-bottom: 5px;
}

button {
    border-style: none;
    background: white;
    border-radius: 5px;
}

.forms {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 2rem;
    border-radius: 10px 0px;
    background-color: #FFFFFF;
    box-shadow: 7px 6px 9px -6px rgb(158 153 158);
}    

.starter___div_form, .maincourse___div_form, .dessert___div_form {
    padding: 2rem;
}

#forms_reverse {
    grid-template-columns: 3fr 2fr;
}

.forms > h2 {
    font-family: 'Alex Brush', cursive;
    text-align: center;
}

.form > form > input {
    border-radius: 5px;
    margin-right: 5px;
    border-style: unset;
}

.starter {
    background-color: #FAEDCD;
}

.menu___forms {
    margin-bottom: 2rem;
}

.menu___forms > form {
    width: 100%;
    display: flex;
    border: lightgray 1px solid;
    padding: 0 0.5rem;
    border-radius: 10px;
    background: #FFFFFF;
    padding: .375rem .375rem .375rem .75rem;
    /* box-shadow: 7px 6px 25px -6px rgb(158 153 158); */
}

.menu___forms > form > input {
    width: 100%;
}

.menu___forms > form > button {
    margin-left: 10px;
    border-style: none;
    background: white;
}

.menu___forms > form > button:focus {
    outline: none;
}

.menu___li-btns {
    height: fit-content;
    display: flex;
}

.menu___li-btns > button {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0px 5px;
    padding: .375rem 1rem;
    box-shadow: rgb(0 0 0 / 26%) 0px 1px 3px 0px;
    background-color: #f6f5f3;
    border-radius: 20px;
}

.menu___li-btns > button:focus {
    outline: none;
}


.menu___li-btns > .del-btn {
    /* margin-left: 7px; */
}

.maincourse {
    background-color: #FAEDCD;
}

.maincourse > ul > li > form > input, .starter > ul > li > form > input, .dessert > ul > li > form > input {
    width: 85%;
    border-radius: 5px;
    padding-left: 5px;
}

.dessert {
    background-color: #FAEDCD;
}

.starter___div_img > img , .maincourse___div_img > img, .dessert___div_img > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.starter___div_form > h2, .dessert___div_form > h2 {
    text-align: end;
}


@media (max-width: 768px) {

    .menu___list {
        grid-template-columns: repeat(1, 80%);
        grid-row-gap: 3rem;
        justify-content: center;
        row-gap: 3rem;
    }
}
