h2 {
    font-weight: 400;
}

.menu-container {
    background-image: url("../../img/menus/lollipops.jpg");
    background-size: cover;
    background-position: center;
    min-height: 600px;
    /* position: relative; */
}

.menu {
    border-radius: 10px;
    margin: 50px 0px;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(312,312,312,0.85);
    padding: 50px;
    box-shadow: 10px 10px 13px -6px rgba(184,178,184,1);
}

.menu-span {
    width: 100%;
    text-align: center;
}

.menu-span > span {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.3px;
    text-align: center;
    /* color: #e4bdb7; */
    color: #000000;
    text-transform: uppercase;
}

.grid-container-menu {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #000000;
    margin-bottom: 5px;
}

button {
    border-style: none;
    background: white;
    border-radius: 5px;
}

.forms {
    padding: 2rem;
    /* width: 20rem; */
    border-radius: 10px 0px;
    background-color: #FFFFFF;
    -webkit-box-shadow: -20px 18px 46px -13px rgba(204,198,204,1);
    -moz-box-shadow: -20px 18px 46px -13px rgba(204,198,204,1);
    box-shadow: -20px 18px 46px -13px rgba(204,198,204,1);
}

.forms > h2 {
    font-family: 'Alex Brush', cursive;
    text-align: center;
}

.form > form > input {
    border-radius: 5px;
    margin-right: 5px;
    border-style: unset;
}

.starter {
    background-color: #F2E2EE;
}

.menu___forms > form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.menu___forms > form > input {
    border-radius: 5px;
}

.menu___li-btns > .del-btn {
    margin-left: 7px;
}

.maincourse {
    background-color: #E4D1E0;
}

.dessert {
    background-color: #DABDD3;
}